:root {
  scroll-behavior: smooth;
  --blue: linear-gradient(135deg, #0a92f4 0%, #303db3 100%);
  --red: linear-gradient(to top, #e1093f 0%, #f51111 100%);
  --verde: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
  --dorado: linear-gradient(to top, #f5b104 0%, #dd9522 100%);
  --success-color: #23cc71;
  --error-color: #e74c3c;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);
}

:root[data-theme="dark"] {
  --bg-image: url("../images/backgroundark.png");
  --main-title: linear-gradient(to right, #ff0000 0%, #ffd000 100%);
  --message-mode: "Dark Mode";
  --modo-theme: darken;
  --text-title: var(--dorado);
  --text-color: #fff;
  --text-footer: #fff;
  --bg-color: #1d1d1d;
  --bg-header: var(--dorado);
  --bg-footer: #2f2f2f;
  --bg-scrollbar: #535353cd;
  --bg-card: #7f7f7f99;
  --bg-button: linear-gradient(to right, #ff8008 0%, #ffc837 51%, #ff8008 100%);
  --shadow-button: var(--dorado);
  --transform-option: translate(100%);
  --color-switcher: var(--blue);
  --color-active: var(--blue);
  --border-option: 10px solid #fff;
  --border-element: #daa520;
  --bg-focus: #7f7f7f99;
  --border-input: #fbba17;
  --bg-tag: #f49e08;
  --bg-contact: #7f7f7f99;
  --bg-contact-form: #2f2f2f;
}
:root[data-theme="light"] {
  --bg-image: url("../images/backgroundligth.png");
  --main-title: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --message-mode: "Light Mode";
  --modo-theme: lighten;
  --text-title: var(--blue);
  --text-color: #111;
  --text-footer: #111;
  --bg-color: #fbfafa;
  --bg-header: var(--blue);
  --bg-footer: #a2a2a2;
  --bg-scrollbar: #d2d2d2d7;
  --bg-card: #f2efef;
  --bg-button: linear-gradient(to right, #154ede 0%, #00b1fd 51%, #154ede 100%);
  --shadow-button: var(--blue);
  --color-switcher: var(--dorado);
  --color-active: var(--dorado);
  --border-option: 10px solid #fff;
  --border-element: #0a92f4;
  --bg-focus: #eef7fa;
  --border-input: #1491ea;
  --bg-tag: #154dee;
  --bg-contact: #1a1a1a;
  --bg-contact-form: #eaeaea;
}

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 52%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s background-image, color 0.5s;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}
img {
  width: 100%;
  display: block;
}
input {
  outline: none;
  font-family: inherit;
}
a {
  text-decoration: none;
}
strong {
  font-family: inherit;
}
figure {
  padding: 0;
  margin: 0;
}
section {
  min-height: 100vh;
}
/* scroll bar  */
::-webkit-scrollbar {
  width: 2em;
  background: var(--bg-scrollbar);
}
::-webkit-scrollbar-thumb {
  background: var(--text-title);
}
/************************ CONTENEDOR PRINCIPAL *********************/
.container {
  /* width: 90%;
  max-width: 1500px; */
  width: 90%;
  max-width: 1536px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}
/************************ GENERALITIES *********************/
.title__main {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.2em;
}
.title {
  text-align: center;
  font-size: 2.5rem;
}
.subtitle {
  display: block;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}
.subtitle--align {
  text-align: center;
}
.subtitle--size {
  font-size: 1.4rem;
}
.paragraph {
  line-height: 1.2;
  font-weight: 300;
  text-align: justify;
}
.paragraph--size {
  font-size: 1.3rem;
}
.paragraph--height {
  min-height: auto;
}
.icon {
  background: var(--text-title);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: 300;
}
.img-align {
  margin: 0 auto;
}

/************************ HEADER *********************/
.header {
  background: var(--bg-header);
  position: fixed;
  width: 100%;
  z-index: 99;
  user-select: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.nav__list {
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--text-title);
  padding: 80px 0;
  display: grid;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 2em;
  list-style: none;
  transform: translate(-100%);
  transition: transform 0.3s;
}
.nav__list--show {
  transform: translate(0);
  z-index: 100;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 1px 0 3px black;
  font-weight: 700;
}
.nav__theme::after {
  content: var(--message-mode);
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.nav__switcher {
  margin-left: 1em;
  width: 64px;
  height: 32px;
  border-radius: 999999px;
  background: var(--color-switcher);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.nav__check {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  background: black;
}
.nav__option {
  width: 32px;
  height: 32px;
  background: var(--color-active);
  border-radius: 50%;
  border: var(--border-option);
  transition: transform 0.3s;
  transform: var(--transform-option, none);
}
.nav__flags {
  width: 75px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
}
.flag__item {
  display: block;
  width: 30px;
}
.nav__menu {
  background: var(--text-title);
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 1px 0 4px #00000070;
}
/************************ MAIN *********************/
/* .main__box {
  position: relative;
} */
.main__box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 6px solid var(--border-element);
  z-index: -10;
}

.main__box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.main__box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.main__box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.main__box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.main__box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.main__box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.main__box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.main__box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.main__box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.main__box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

.main__box div:nth-child(11) {
  top: 35%;
  left: 45%;
  animation: animate 8s linear infinite;
}

.main__box div:nth-child(12) {
  top: 48%;
  left: 55%;
  animation: animate 10s linear infinite;
}

.main__box div:nth-child(13) {
  top: 50%;
  left: 35%;
  animation: animate 7s linear infinite;
}

.main__box div:nth-child(14) {
  top: 65%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.main__box div:nth-child(15) {
  top: 72%;
  left: 35%;
  animation: animate 5s linear infinite;
}

.main__box div:nth-child(16) {
  top: 80%;
  left: 35%;
  animation: animate 8s linear infinite;
}

.main__box div:nth-child(17) {
  top: 58%;
  left: 25%;
  animation: animate 10s linear infinite;
}

.main__box div:nth-child(18) {
  top: 90%;
  left: 70%;
  animation: animate 7s linear infinite;
}

.main__box div:nth-child(19) {
  top: 23%;
  left: 67%;
  animation: animate 9s linear infinite;
}

.main__box div:nth-child(20) {
  top: 75%;
  left: 65%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/************************ ABOUT ************************/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  position: relative;
}
.about__main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.about__texts {
  /* margin-top: 1.5rem;
  margin-bottom: 1.5rem; */
  display: grid;
  align-items: center;
  gap: 4em;
  z-index: 10;
}

.about__contact {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 4em;
  list-style: none;
}

.about__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.about__item--access {
  background: var(--bg-contact);
}

.about__img {
  width: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 120rem;
}
.about-content .about__presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.about-content .text-animate {
  position: relative;
  width: 25.4rem;
}
.about-content .text-animate h3 {
  font-size: 2.1rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--border-element);
  background-image: linear-gradient(
    var(--border-element),
    var(--border-element)
  );
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: -25.6rem 0;
}
.about__title.show-animate .about-content .text-animate h3 {
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}
.about-content .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--border-element);
  z-index: -1;
}
.about__title.show-animate .about-content .text-animate h3::before {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}
.about__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__button {
  display: block;
  background-image: var(--bg-button);
  margin: 10px;
  padding: 1em;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 2px #fffefe;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.about__button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.about__link {
  font-weight: 700;
  color: #fff;
}
/************************ SKILL ************************/
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.skill__article {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}
.skill__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  gap: 1rem;
}
.skill__figure {
  width: fit-content;
}
.skill__img {
  display: block;
  width: 70%;
  /* transition: filter .5s; */
}
.skill__img:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 2px #7f7f7f);
}

/************************ PROJECT ************************/

/********************* SLIDER PROJECTS *******************/
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 280px;
  background: var(--bg-card);
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  margin-bottom: -0.75rem;
}

.card__data {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
}

.card__title {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.card__description {
  line-height: 1.2;
  font-weight: 300;
  text-align: justify;
  min-height: 120px;
  /* margin-bottom: 1.75rem; */
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2rem 2rem;
}

.card__contact {
  display: flex;
  justify-content: center;
  gap: 0.8em;
  list-style: none;
}

.card__img {
  width: 15px;
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.card__link--react {
  background: #00d8ff;
}
.card__link--redux {
  background: #764abc;
}
.card__link--tailwind {
  background: #06b6d4;
}
.card__link--html {
  background: #ef652a;
}
.card__link--css {
  background: #1c88c7;
}
.card__link--sass {
  background: #cf649a;
}
.card__link--typescript {
  background: #017acb;
}
.card__link--javascript {
  background: #ffde25;
}
.card__link--access {
  background: #161616;
}
.card__link--download {
  background: #161616;
}

.card__article .card__image img {
  height: 150px;
}

.card__status {
  position: absolute;
  width: 100px;
  padding: 5px 30px 5px 20px;
  display: inline-block;
  left: -10px;
  top: 32px;
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 0 3px black;
  font-weight: 200;
  background-image: linear-gradient(
      45deg,
      var(--bg-tag),
      var(--bg-tag) 32px,
      rgba(0, 0, 0, 0) 32px
    ),
    linear-gradient(
      135deg,
      var(--bg-tag),
      var(--bg-tag) 32px,
      rgba(0, 0, 0, 0) 32px
    ),
    linear-gradient(135deg, var(--bg-tag), var(--bg-tag));
  background-repeat: no-repeat;
  background-position: 100% 100%, 100% 100%, -32px 100%;
  background-size: 48px 100%, 48px 100%, 100% 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  font-weight: 300;
  --swiper-navigation-color: var(--border-element);
  display: none;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--border-element);
}

/************************ STUDY ************************/
.study {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.study__texts {
  display: grid;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
}
.study__item {
  display: flex;
  gap: 0.5em;
}
.study__figure {
  width: 30px;
  height: 30px;
}
.study__img {
  border-radius: 50%;
}
/************************ CONTACT ME ************************/
.contactme {
  min-height: auto;
  user-select: none;
}
.contact__main {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}
.form__item {
  margin: 0;
  position: relative;
}
.form__button,
.form__input,
.form__textarea {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  color: var(--text-color);
  padding: 0.5em;
  font-size: 1.2rem;
  border: 1.5px solid var(--border-element);
  border-radius: 6px;
  resize: none;
}

.form__input:focus,
.form__textarea:focus {
  background-color: var(--bg-focus);
  border: 2px solid var(--border-input);
}
.form__button {
  background: var(--text-title);
  border: 0;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
}
.contact__info {
  padding: 1em;
}
.contact__info h4,
.contact__list,
.contact__paragraph {
  text-align: left;
}
.contact__item {
  margin-bottom: 7px;
  font-size: 1.2rem;
}
/************************ FOOTER ************************/
.footer {
  background-color: var(--bg-footer);
  user-select: none;
}
.footer__main {
  padding: 17px 0;
}
.footer__contact {
  display: flex;
  justify-content: center;
  gap: 0.8em;
  list-style: none;
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color);
}
.footer__item:nth-of-type(1) {
  --color: #0073b1;
}
.footer__item:nth-of-type(2) {
  --color: #4dc247;
}
.footer__item:nth-of-type(3) {
  --color: #0088cc;
}
.footer__item:nth-of-type(4) {
  --color: #161616;
}
.footer__item:nth-of-type(5) {
  --color: #784ac8;
}
.footer__img {
  width: 25px;
}

/** KEYFRAMES ANIMATION **/
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -25.6rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}
@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

@media (min-width: 371px) {
  /************************ GENERALITIES *********************/
  .subtitle {
    font-size: 2rem;
  }
  .subtitle--size {
    font-size: 1.5rem;
  }
  .subtitle--align {
    text-align: center;
  }
  .paragraph {
    line-height: 1.5;
  }
  .paragraph--size {
    font-size: 1.5rem;
  }
  /************************ ABOUT ************************/
  .about-content .about__presentation {
    font-size: 4.5rem;
  }
  .about-content .text-animate {
    position: relative;
    width: 36rem;
  }
  .about-content .text-animate h3 {
    font-size: 3rem;
    background-position: -36.2rem 0;
  }
  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -36.2rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }
  .about__presentation {
    margin-top: 4rem;
  }
  /************************ PROJECT ************************/

  .card__img {
    width: 30px;
  }
  .card__link {
    width: 50px;
    height: 50px;
  }
  .card__article .card__image img {
    height: 170px;
  }
  .card__data {
    font-size: 1.8rem;
    padding: 2.5rem;
  }
  .card__title {
    font-size: 2.2rem;
  }
  .card__button {
    font-size: 1.3rem;
  }
  .card__description {
    line-height: 1.3;
    text-align: justify;
    min-height: 120px;
    margin-bottom: 1.2rem;
  }
  /************************ CONTACT ME ************************/
  .form__button {
    padding: 0.5em;
    width: 200px;
  }
  .contact__form {
    border-radius: 1em;
    background-color: var(--bg-contact-form);
    padding: 3em;
  }
}

@media (min-width: 462px) {
  /************************ GENERALITIES *********************/
  .subtitle {
    font-size: 3rem;
    font-weight: 700;
  }
  .subtitle--size {
    font-size: 1.8rem;
  }
  .paragraph--size {
    font-size: 1.5rem;
  }

  /************************ ABOUT ************************/
  .about-content .about__presentation {
    font-size: 4.5rem;
  }
  .about-content .text-animate {
    width: 42rem;
  }
  .about-content .text-animate h3 {
    font-size: 3.5rem;
    background-position: -42.2rem 0;
  }
  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -42.2rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }
  .about__button {
    font-size: 2rem;
  }

  .about__item {
    width: 50px;
    height: 50px;
  }

  .about__img {
    width: 30px;
  }
  /************************ PROJECT *********************/
  .card__title {
    font-size: 2.5rem;
  }
  .card__button {
    font-size: 1.5rem;
  }
  .card__description {
    line-height: 1.5;
    min-height: 120px;
  }
  /************************ CONTACT ME ************************/
  .form__input,
  .form__textarea,
  .form_button {
    padding: 0.7em;
    font-size: 1.5rem;
  }
  .contact__item {
    font-size: 1.5rem;
  }
}

@media (min-width: 520px) {
  /************************ GENERALITIES *********************/
  .subtitle--size {
    font-size: 2rem;
  }
  .paragraph--size {
    font-size: 1.7rem;
  }
  /************************ ABOUT ************************/
  .about-content .about__presentation {
    font-size: 5rem;
  }
  .about-content .text-animate {
    width: 48rem;
  }
  .about-content .text-animate h3 {
    font-size: 4rem;
    background-position: -48.2rem 0;
  }
  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -48.2rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }
  .about__button {
    font-size: 2rem;
  }

  /************************ SKILL ************************/
  .skill__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.3fr);
    place-items: center;
  }
  .skill__img {
    width: 55%;
  }
  /************************ PROJECT ************************/
  .project__article {
    margin-top: 1em;
  }
  .project__button {
    font-size: 1.5rem;
  }
  .card__description {
    line-height: 1.5;
    min-height: 200px;
  }
  /************************ CONTACT ME ************************/

  .contact__item {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .card__data {
    font-size: 1.5rem;
    padding: 1.5rem 1.2rem 0 1.2rem;
  }
  .card__description {
    line-height: 1.35;
    min-height: 200px;
  }
}

@media (min-width: 768px) {
  /************************ CONTENEDOR PRINCIPAL *********************/
  .container {
    padding: 30px;
  }
  /************************ GENERALITIES *********************/
  .subtitle--size {
    font-size: 2rem;
  }
  .paragraph--size {
    font-size: 2rem;
  }
  .icon {
    font-size: 2.5rem;
    font-weight: 300;
  }
  /************************ HEADER ************************/
  .nav__link {
    color: white;
    text-shadow: 1px 0 5px black;
    font-size: 2rem;
    font-weight: 700;
  }
  .nav__menu {
    display: none;
  }
  .nav__list {
    min-width: 491px;
    min-height: auto;
    position: static;
    background: transparent;
    padding: 0;
    display: flex;
    gap: 1em;
    list-style: none;
    transform: unset;
    transition: none;
  }
  .nav__list--show {
    transform: unset;
  }

  /************************ ABOUT ME ************************/
  .about__item {
    width: 60px;
    height: 60px;
  }

  .about__img {
    width: 40px;
  }

  /************************ SKILL ************************/
  .skill__grid {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.2fr);
  }
  .skill__img {
    width: 50%;
  }
  /************************ PROJECT ************************/
  .card__img {
    width: 20px;
  }

  .card__link {
    width: 40px;
    height: 40px;
  }
  .card__content {
    margin-inline: 6rem;
  }
  .card__data {
    font-size: 1.8rem;
    /* height: 400px; */
  }
  .card__button {
    font-size: 1.3rem;
  }
  .card__description {
    line-height: 1.35;
    min-height: 240px;
    font-size: 1.6rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
  /************************ STUDY ************************/
  .study__main {
    display: flex;
    gap: 4em;
    justify-content: space-between;
  }
  .study__texts {
    margin-top: 2em;
    place-content: baseline center;
    margin-bottom: 0;
  }
}

@media (min-width: 820px) {
  /************************ GENERALITIES *********************/
  .subtitle--size {
    font-size: 2rem;
  }
  .paragraph--size {
    font-size: 2rem;
  }
  /************************** HEADER *************************/
  .nav__list {
    min-width: 500px;
    gap: 1em;
  }
  .nav__link {
    font-size: 1.8rem;
  }
  /************************ PROJECT *********************/
  .card__button {
    font-size: 1.5rem;
  }
  .card__description {
    line-height: 1.5;
    font-size: 1.6rem;
  }
  /************************ SKILL ************************/
  .skill__grid {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(3, 10rem);
  }
  .skill__img {
    width: 60%;
  }
  /************************ CONTACT ME ************************/
  .contact__main {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
  }
  .contact__form {
    border-radius: 1em;
    background-color: var(--bg-contact-form);
    padding: 3em;
    width: 52%;
  }
  .contact__info {
    width: 48%;
  }
  .contact__item {
    font-size: 1.8rem;
  }
}

@media (min-width: 950px) {
  /************************ GENERALITIES *********************/
  .subtitle--size {
    font-size: 2.5rem;
  }
  .paragraph--height {
    /* min-height: 320px; */
    line-height: 1.5;
  }
  /************************ HEADER *********************/
  .nav {
    display: flex;
    gap: 1em;
  }
  .nav__list {
    display: flex;
    gap: 2em;
  }
  .nav__link {
    font-weight: 700;
    font-size: 2.2rem;
  }
  /************************ ABOUT ME ************************/
  .about__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
  .about__button {
    font-size: 2.3rem;
  }
  .about__download {
    width: 35%;
  }
  .about__texts {
    width: 65%;
  }
  .about__item {
    width: 70px;
    height: 70px;
  }

  .about__img {
    width: 50px;
  }

  /************************ SKILL ************************/
  .skill__main {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-top: 2em;
  }
  .skill__grid {
    display: grid;
    grid-template-columns: repeat(3, 12rem);
    grid-template-rows: repeat(3, 12rem);
    gap: 5em;
  }
  .skill__figure {
    width: 20rem;
  }
  .skill__img {
    width: 62%;
  }
  /************************ PROJECT ************************/
  .card__description {
    font-size: 1.8rem;
  }
  .card__article .card__image img {
    height: 200px;
  }
  /************************ CONTACT ME ************************/
  .contact__main {
    display: flex;
    gap: 2em;
  }
  .contact__form {
    width: 60%;
  }
  .contact__info {
    width: 40%;
  }
  .contact__item {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .form__label,
  .form__input {
    margin-bottom: 0.5rem;
  }
  .contact__form .form .block {
    grid-column: 1 / 3;
  }
}
@media (min-width: 1024px) {
  /************************ GENERALITIES ************************/
  .title {
    font-size: 3rem;
  }
  /* .paragraph {
    line-height: 1.4;
  } */
  .paragraph--height {
    /* min-height: 300px; */
  }
  /************************ HEADER ************************/
  .nav__list {
    display: flex;
    min-width: 663px;
    gap: 4em;
  }
  /************************ ABOUT ME ************************/
  .about__button {
    font-size: 2.5rem;
  }
  .about__download {
    width: 30%;
  }
  .about__texts {
    width: 70%;
  }
  /************************ SKILL ************************/
  /* .skill__grid {
    display: grid;
    grid-template-columns: repeat(3, 12rem);
    grid-template-rows: repeat(3, 12rem);
  } */
  .skill__img {
    width: 67%;
  }
  /************************ PROJECT ************************/
  .card__img {
    width: 20px;
  }

  .card__link {
    width: 40px;
    height: 40px;
  }
  .card__description {
    font-size: 1.9rem;
  }
  .card__article .card__image img {
    height: 240px;
  }

  /************************ CONTACT ME ************************/
  .contact__form {
    width: 60%;
  }
  .contact__info {
    width: 40%;
  }
  .contact__item {
    margin-bottom: 10px;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  /************************ CONTENEDOR PRINCIPAL *********************/
  .container {
    /* padding: 30px 60px; */
    padding: 30px 0;
  }
  /************************ GENERALITIES ************************/
  /* .paragraph--height {
    min-height: 220px;
  } */
  /************************** HEADER *************************/
  .nav__list {
    min-width: 808px;
  }
  .nav__link {
    font-size: 2.8rem;
  }
  /************************ ABOUT ME ************************/
  .about__button {
    padding: 1.5em 1em;
  }
  .about-content .about__presentation {
    font-size: 6.1rem;
  }
  .about-content .text-animate {
    width: 60rem;
  }
  .about-content .text-animate h3 {
    font-size: 5rem;
    background-position: -60.2rem 0;
  }
  .about-content .text-animate h3::before {
    border-right: 4px solid var(--border-element);
  }
  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -60.2rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }

  .about__item {
    width: 80px;
    height: 80px;
  }

  .about__img {
    width: 50px;
  }

  /************************ SKILL ************************/
  .skill__grid {
    display: grid;
    grid-template-columns: repeat(3, 19rem);
    grid-template-rows: repeat(2, 19rem);
    place-items: center;
  }
  .skill__figure {
    /* width: 30rem; */
    width: 175px;
    height: 138px;
  }
  .skill__img {
    width: 100%;
  }
  /************************ PROJECT ************************/
  .card__img {
    width: 30px;
  }

  .card__link {
    width: 50px;
    height: 50px;
  }
  .card__article {
    height: 580px;
  }

  .card__article .card__image img {
    height: 220px;
  }

  .card__data {
    padding: 1.5rem 2rem 0 2rem;
  }
  .card__description {
    font-size: 1.6rem;
    min-height: 245px;
    margin-bottom: 0;
  }
  .card__status {
    width: 140px;
    padding: 5px 30px 5px 40px;
    font-size: 2rem;
    text-shadow: 2px 0 5px black;
    font-weight: 200;
  }
  /************************ CONTACT ME ************************/
  .contact__main {
    display: flex;
    flex-direction: row;
  }
  .contact__form .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .form__input,
  .form__textarea {
    font-size: 2rem;
  }
  .contact__form .form .block {
    grid-column: 1/3;
  }
}
@media (min-width: 1536px) {
  /************************ GENERALITIES ************************/
  .title {
    font-size: 3.5rem;
  }
  .paragraph {
    line-height: 1.6;
  }
  .paragraph--size {
    font-size: 2.5rem;
  }
  /************************** HEADER *************************/
  .nav__list {
    min-width: 945px;
    gap: 3em;
  }
  .nav__link {
    font-size: 3.5rem;
  }
  /************************ ABOUT ME ************************/
  .about__button {
    padding: 2em 1em;
    font-size: 2.5rem;
  }
  .about-content .about__presentation {
    font-size: 8rem;
    font-weight: 700;
  }
  .about-content .text-animate {
    width: 72rem;
  }
  .about-content .text-animate h3 {
    font-size: 6rem;
    background-position: -72.2rem 0;
  }
  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -72.2rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }
  /************************ PROJECT ************************/
  .card__article .card__image img {
    height: 250px;
  }
  .card__data {
    padding: 1.5rem 2rem 0 2rem;
  }
  .card__description {
    font-size: 1.8rem;
    min-height: 200px;
    margin-bottom: 0;
  }

  /************************ SKILL ************************/
  .skill__main {
    display: flex;
    gap: 5em;
  }
  .skill__grid {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(2, 20rem);
  }
}
